dataset/*.csv filter=lfs diff=lfs merge=lfs -text
dataset/chessData.csv filter=lfs diff=lfs merge=lfs -text
dataset/tactic_evals.csv filter=lfs diff=lfs merge=lfs -text
dataset/random_evals.csv filter=lfs diff=lfs merge=lfs -text
